In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Short explanations about the data.
There are 2 types of json files,
* 1 starting with "a_...." which contains the type of activity and it's timestamp (amount of microseconds since 1st January 1970)
* 1 starting with "s_...." which contains the sensors data
I made a diagram. And I also share with you a sample data of a "a_" file and a "s_" one.

In [56]:
sensor_csvpath = "../raw_data/sample/sensors.csv"
anno_csvpath = "../raw_data/sample/annotations.csv"
fall_path = "../raw_data/20201130-sg9-y-fall/s_2020-11-30-1606746627268-SMG960F-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json"

In [3]:
an_csv = pd.read_csv(anno_csvpath)
an_csv

                  time                                           filename
0  2020-08-05 22:21:03  data/raw/2020-08-05-asa/a_2020-08-05-W6Ex5DZKn...

In [4]:
def an_filename(name):
    '''Get the real file name not the path from csv file'''
    filename = "a_" + name.split("a_")[1]
    return filename

In [5]:
an_csv["real_filename"] = an_csv["filename"].apply(an_filename)

In [6]:
an_csv

,time,filename,real_filename
0,2020-08-05 22:21:03,data/raw/2020-08-05-asa/a_2020-08-05-W6Ex5DZKn...,a_2020-08-05-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json

In [7]:
def sen_filename(name):
    '''Get the real file name not the path from csv file'''
    filename = "s_" + name.split("s_")[1]
    return filename

In [38]:
sen_csv = pd.read_csv(sensor_csvpath)
sen_csv["real_filename"] = sen_csv["filename"].apply(sen_filename)
sen_csv.head()

,time,filename,real_filename
0,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661889...,s_2020-08-05-1596618899641-ASUS_X013DB-W6Ex5DZ...
1,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661890...,s_2020-08-05-1596618902316-SHV40-W6Ex5DZKnuMe8...
2,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661890...,s_2020-08-05-1596618909689-ASUS_X013DB-W6Ex5DZ...
3,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661891...,s_2020-08-05-1596618912434-SHV40-W6Ex5DZKnuMe8...
4,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661891...,s_2020-08-05-1596618919758-ASUS_X013DB-W6Ex5DZ...

In [9]:
def key(X):
    key, value = list(X.items())[0]
    return key.strip("()")

In [10]:
def value(X):
    key, value = list(X.items())[0]
    key2, value2 = list(value[0].items())[0]
    return value2

In [11]:
def process(X):
    key, value = list(X.items())[0]
    key2, value2 = list(value[0].items())[0]
    return key2

In [13]:
anno_jsonpath = "../raw_data/sample/annot/a_2020-08-05-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json"
an_json = pd.read_json(anno_jsonpath)
an_json.head()

,dt,os,p,pf,uid,v
0,{'down_stairs': [{'Begin': 1596618985598}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
1,{'down_stairs': [{'End': 1596618989833}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
2,{'down_stairs': [{'Begin': 1596618995255}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
3,{'down_stairs': [{'End': 1596618997833}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
4,{'down_stairs': [{'Begin': 1596619066247}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1

In [39]:
an_json["activities"] = an_json["dt"].apply(key)
an_json["process"] = an_json["dt"].apply(process)
an_json["time"] = an_json["dt"].apply(value)
an_json["real_time"] = an_json["time"].apply(convert_to_realtime)

In [40]:
an_json.head()

,dt,os,p,pf,uid,v,activities,process,time,real_time
0,{'down_stairs': [{'Begin': 1596618985598}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs,Begin,1596618985598,19:03:09:85
1,{'down_stairs': [{'End': 1596618989833}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs,End,1596618989833,19:03:09:89
2,{'down_stairs': [{'Begin': 1596618995255}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs,Begin,1596618995255,19:03:09:95
3,{'down_stairs': [{'End': 1596618997833}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs,End,1596618997833,19:03:09:97
4,{'down_stairs': [{'Begin': 1596619066247}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs,Begin,1596619066247,19:03:10:66

In [41]:
final_an_csv = an_json[an_json.columns[-4:]]

In [ ]:
# final_an_csv.to_csv("clean_an.csv",index=False)

In [27]:
sen_jsonpath = "../raw_data/sample/sens/s_2020-08-05-1596618922655-SHV40-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json"
sen_json = pd.read_json(sen_jsonpath)
sen_json.head()

,dt,os,pm,p,uid,v
a,"[[1596618912439.9998, 864412474877.0, 1.177947...",26,SHV40,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
g,"[[1596618912441.0, 864413379825.0, 0.021991148...",26,SHV40,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
p,[],26,SHV40,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1

In [49]:
sen_acc = np.array(sen_json.dt["a"])
acc_df = pd.DataFrame(sen_acc, columns=["time_stamp", "sensor_time_stamp","X","Y","Z"])
acc_df.head()

     time_stamp  sensor_time_stamp         X         Y         Z
0  1.596619e+12       8.644125e+11  1.177947  2.901772  9.040505
1  1.596619e+12       8.644323e+11  1.359907  2.873042  9.212888
2  1.596619e+12       8.644523e+11  1.359907  2.920926  9.117120
3  1.596619e+12       8.644725e+11  1.455675  2.987964  9.097966
4  1.596619e+12       8.644925e+11  1.446098  3.045424  9.184157

In [50]:
acc_df.time_stamp[0]

1596618912439.9998

In [64]:
sen_gyro = np.array(sen_json.dt["g"])
gyro_df = pd.DataFrame(sen_gyro, columns=["time_stamp", "sensor_time_stamp","X","Y","Z"])
gyro_df.head()

     time_stamp  sensor_time_stamp         X         Y         Z
0  1.596619e+12       8.644134e+11  0.021991 -0.100182  0.162490
1  1.596619e+12       8.644334e+11  0.014661 -0.096517  0.125838
2  1.596619e+12       8.644534e+11  0.056200 -0.053756  0.107512
3  1.596619e+12       8.644734e+11  0.040317 -0.078191  0.073304
4  1.596619e+12       8.644934e+11  0.002443 -0.124617  0.013439

In [51]:
gyro_df.time_stamp[0]

1596618912441.0

In [ ]:
def convert(seconds): 
    milli = (seconds % 1) * 100
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
      
    return "%d:%02d:%02d:%02d" % (hour, minutes, seconds, milli)

In [16]:
def convert_to_realtime(timestamp): 
    seconds = timestamp/100000
    milli = (seconds % 1) * 100
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60 
    seconds %= 60 
    return "%d:%02d:%02d:%02d" % (hour, minutes, seconds, milli) 
    #return "%d:%02d:%02d" % (hour, minutes, seconds)

In [133]:
gyro_df["real_time_stamp"] = gyro_df["time_stamp"].apply(convert_to_realtime)
gyro_df["start_2s"] = gyro_df["time_stamp"]//200000

In [131]:
gyro_df.head()

,time_stamp,sensor_time_stamp,X,Y,Z,real_time_stamp,start_2s
0,1.596619e+12,8.644134e+11,0.021991,-0.100182,0.162490,19:03:09:12,7983094.0
1,1.596619e+12,8.644334e+11,0.014661,-0.096517,0.125838,19:03:09:12,7983094.0
2,1.596619e+12,8.644534e+11,0.056200,-0.053756,0.107512,19:03:09:12,7983094.0
3,1.596619e+12,8.644734e+11,0.040317,-0.078191,0.073304,19:03:09:12,7983094.0
4,1.596619e+12,8.644934e+11,0.002443,-0.124617,0.013439,19:03:09:12,7983094.0

In [46]:
final_an_csv.tail(20)
# go for the most frequence ? one if overlap

       activities process           time    real_time
294  climb_stairs   Begin  1596632651833  19:05:26:51
295  climb_stairs     End  1596632654922  19:05:26:54
296  climb_stairs   Begin  1596632660050  19:05:26:60
297  climb_stairs     End  1596632663131  19:05:26:63
298   down_stairs   Begin  1596632670653  19:05:26:70
299   down_stairs     End  1596632674407  19:05:26:74
300   down_stairs   Begin  1596632679891  19:05:26:79
301   down_stairs     End  1596632682812  19:05:26:82
302   down_stairs   Begin  1596632687620  19:05:26:87
303   down_stairs     End  1596632690787  19:05:26:90
304   down_stairs   Begin  1596632695554  19:05:26:95
305   down_stairs     End  1596632698177  19:05:26:98
306   down_stairs   Begin  1596632703511  19:05:27:03
307   down_stairs     End  1596632706062  19:05:27:06
308   down_stairs   Begin  1596632710643  19:05:27:10
309   down_stairs     End  1596632713264  19:05:27:13
310   down_stairs   Begin  1596632718206  19:05:27:18
311   down_stairs     End  1596632721354  19:05:27:21
312   down_stairs   Begin  1596632725640  19:05:27:25
313   down_stairs     End  1596632728797  19:05:27:28

In [116]:
final_an_csv.head()

    activities process           time    real_time  time_2s
0  down_stairs   Begin  1596618985598  19:03:09:85  7983094
1  down_stairs     End  1596618989833  19:03:09:89  7983094
2  down_stairs   Begin  1596618995255  19:03:09:95  7983094
3  down_stairs     End  1596618997833  19:03:09:97  7983094
4  down_stairs   Begin  1596619066247  19:03:10:66  7983095

In [101]:
row

314

In [109]:
row = final_an_csv.shape[0]
n = 0
list_begin = []
list_end = []
list_act = []
for row in range(int(row/2)):
    list_begin.append(final_an_csv["time"][n])
    list_act.append(final_an_csv["activities"][n])
    list_end.append(final_an_csv["time"][n+1])
    n +=2

In [110]:
new_df = {"activitiy" : list_act, "start" : list_begin, "end" : list_end}
test_final_an = pd.DataFrame(new_df)

In [112]:
test_final_an["start_real"] = test_final_an["start"].apply(convert_to_realtime)
test_final_an["end_real"] = test_final_an["end"].apply(convert_to_realtime)

Create bin for each 2seconds

In [125]:

test_final_an["start_2s"] = test_final_an["start"]//200000

Bin them separately them merge sensor to an (using interval 2s as index)

In [127]:
test_final_an.head(50)

,activitiy,start,end,start_real,end_real,start_2s
0,down_stairs,1596618985598,1596618989833,19:03:09:85,19:03:09:89,7983094
1,down_stairs,1596618995255,1596618997833,19:03:09:95,19:03:09:97,7983094
2,down_stairs,1596619066247,1596619069306,19:03:10:66,19:03:10:69,7983095
3,down_stairs,1596619073407,1596619075856,19:03:10:73,19:03:10:75,7983095
4,down_stairs,1596619079973,1596619082796,19:03:10:79,19:03:10:82,7983095
5,down_stairs,1596619087171,1596619089546,19:03:10:87,19:03:10:89,7983095
6,down_stairs,1596619093869,1596619096286,19:03:10:93,19:03:10:96,7983095
7,down_stairs,1596619100704,1596619103493,19:03:11:00,19:03:11:03,7983095
8,down_stairs,1596619108255,1596619110616,19:03:11:08,19:03:11:10,7983095
9,down_stairs,1596619115194,1596619117830,19:03:11:15,19:03:11:17,7983095
10,down_stairs,1596619121755,1596619125109,19:03:11:21,19:03:11:25,7983095
11,down_stairs,1596619129955,1596619132675,19:03:11:29,19:03:11:32,7983095
12,down_stairs,1596619136640,1596619139462,19:03:11:36,19:03:11:39,7983095
13,down_stairs,1596619145136,1596619148111,19:03:11:45,19:03:11:48,7983095
14,down_stairs,1596619153335,1596619155575,19:03:11:53,19:03:11:55,7983095
15,down_stairs,1596619159764,1596619162551,19:03:11:59,19:03:11:62,7983095
16,down_stairs,1596619167346,1596619170703,19:03:11:67,19:03:11:70,7983095
17,down_stairs,1596619175487,1596619178353,19:03:11:75,19:03:11:78,7983095
18,climb_stairs,1596620308708,1596620311059,19:03:23:08,19:03:23:11,7983101
19,climb_stairs,1596620362117,1596620365730,19:03:23:62,19:03:23:65,7983101
20,climb_stairs,1596620369895,1596620372621,19:03:23:69,19:03:23:72,7983101
21,climb_stairs,1596620376593,1596620379950,19:03:23:76,19:03:23:79,7983101
22,climb_stairs,1596620383917,1596620387438,19:03:23:83,19:03:23:87,7983101
23,climb_stairs,1596620391201,1596620394550,19:03:23:91,19:03:23:94,7983101
24,climb_stairs,1596620398515,1596620401908,19:03:23:98,19:03:24:01,7983101
25,climb_stairs,1596620405829,1596620408895,19:03:24:05,19:03:24:08,7983102
26,climb_stairs,1596620413359,1596620416171,19:03:24:13,19:03:24:16,7983102
27,climb_stairs,1596620416568,1596620417338,19:03:24:16,19:03:24:17,7983102
28,climb_stairs,1596620420535,1596620423718,19:03:24:20,19:03:24:23,7983102
29,climb_stairs,1596620427704,1596620430838,19:03:24:27,19:03:24:30,7983102
30,climb_stairs,1596620435256,1596620438216,19:03:24:35,19:03:24:38,7983102
31,climb_stairs,1596620442710,1596620445847,19:03:24:42,19:03:24:45,7983102
32,climb_stairs,1596620449964,1596620452949,19:03:24:49,19:03:24:52,7983102
33,climb_stairs,1596620457803,1596620460990,19:03:24:57,19:03:24:60,7983102
34,climb_stairs,1596620466114,1596620469364,19:03:24:66,19:03:24:69,7983102
35,climb_stairs,1596620474703,1596620477724,19:03:24:74,19:03:24:77,7983102
36,climb_stairs,1596620482348,1596620485336,19:03:24:82,19:03:24:85,7983102
37,down_stairs,1596631751855,1596631755227,19:05:17:51,19:05:17:55,7983158
38,down_stairs,1596631761148,1596631764351,19:05:17:61,19:05:17:64,7983158
39,down_stairs,1596631770352,1596631773007,19:05:17:70,19:05:17:73,7983158
40,down_stairs,1596631778211,1596631781017,19:05:17:78,19:05:17:81,7983158
41,down_stairs,1596631785312,1596631787952,19:05:17:85,19:05:17:87,7983158
42,down_stairs,1596631836488,1596631838913,19:05:18:36,19:05:18:38,7983159
43,down_stairs,1596631843799,1596631846791,19:05:18:43,19:05:18:46,7983159
44,down_stairs,1596631851407,1596631853704,19:05:18:51,19:05:18:53,7983159
45,down_stairs,1596631858971,1596631861364,19:05:18:58,19:05:18:61,7983159
46,down_stairs,1596631866182,1596631868634,19:05:18:66,19:05:18:68,7983159
47,down_stairs,1596631873204,1596631875788,19:05:18:73,19:05:18:75,7983159
48,down_stairs,1596631880117,1596631882483,19:05:18:80,19:05:18:82,7983159
49,down_stairs,1596631887139,1596631889775,19:05:18:87,19:05:18:89,7983159

In [124]:
lower = test_final_an["start"][0]
upper = lower + 200000
temp_df = test_final_an[test_final_an["start"] > lower]

In [118]:
convert_to_realtime(200000)

'0:00:02:00'

### Q and A


- The special requirement : Wed 12/2
- How to upload model OwO : Wed 12/2

Take

In [37]:
final_df = pd.DataFrame([], columns=["Activity","Start","End","Acc_Time_stamp","Acc_X","Acc_Y","Acc_Z"])
final_df

Empty DataFrame
Columns: [Activity, Start, End, Acc_Time_stamp, Acc_X, Acc_Y, Acc_Z]
Index: []

- Function for clean the data (sensor) / check if the Null / focus on ACC for now >> Ready to merge

- Function to Create a Activity , Start , End (2s) >> Ready to merge

- Function for merging dataframe (an and sen)

- Function for reading all the data and apply the above function

In [57]:
fall_json = pd.read_json(fall_path)
fall_json.head()

,dt,os,pm,p,uid,v
a,"[[1606746617182.0, 43020012122289.0, -0.383083...",29,SMG960F,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
g,"[[1606746617182.0, 43020012121798.0, -0.301802...",29,SMG960F,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
p,"[[1606746617234.0002, 43020064127165.0, -0.014...",29,SMG960F,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1

In [129]:
fall_acc = np.array(fall_json.dt["a"])
fall_df = pd.DataFrame(fall_acc, columns=["time_stamp", "sensor_time_stamp","X","Y","Z"])
fall_df

       time_stamp  sensor_time_stamp         X         Y          Z
0    1.606747e+12       4.302001e+13 -0.383084  3.308888  10.388759
1    1.606747e+12       4.302003e+13 -0.126897  3.258608   9.706390
2    1.606747e+12       4.302005e+13 -0.749408  3.708732   7.862799
3    1.606747e+12       4.302007e+13 -0.617723  4.383917   7.225921
4    1.606747e+12       4.302009e+13  0.483644  4.024776   7.855616
5    1.606747e+12       4.302011e+13  1.094184  3.940976   8.284191
6    1.606747e+12       4.302013e+13  0.588992  4.182798   8.432636
7    1.606747e+12       4.302015e+13  0.172388  3.826051   8.454185
8    1.606747e+12       4.302017e+13 -0.943344  3.287339   8.171659
9    1.606747e+12       4.302019e+13 -0.160416  2.940170   7.388732
10   1.606747e+12       4.302021e+13  1.175589  4.046324   7.436617
11   1.606747e+12       4.302023e+13  1.996825  5.061497   7.831673
12   1.606747e+12       4.302025e+13  1.620924  5.868368   8.521224
13   1.606747e+12       4.302027e+13 -0.069434  4.173221   9.186832
14   1.606747e+12       4.302029e+13 -1.048692  3.366350   9.639350
15   1.606747e+12       4.302031e+13  0.272947  3.969708   9.050359
16   1.606747e+12       4.302033e+13  0.715888  4.264204   8.868394
17   1.606747e+12       4.302035e+13  0.174782  4.541939   9.182044
18   1.606747e+12       4.302037e+13 -0.220273  3.943371   9.476540
19   1.606747e+12       4.302039e+13 -0.124502  3.792531   9.598648
20   1.606747e+12       4.302041e+13  0.368718  3.967313   9.610620
21   1.606747e+12       4.302043e+13  0.593780  3.632115   9.182044
22   1.606747e+12       4.302045e+13  1.139675  3.689578   9.287392
23   1.606747e+12       4.302047e+13  0.021548  3.890697   9.754275
24   1.606747e+12       4.302049e+13 -0.476461  3.852388  10.180456
25   1.606747e+12       4.302051e+13 -0.531529  3.907456  10.915499
26   1.606747e+12       4.302053e+13 -0.191542  3.632115  10.853248
27   1.606747e+12       4.302055e+13  0.428575  3.126923  10.137360
28   1.606747e+12       4.302057e+13  0.797293  3.076643   9.105427
29   1.606747e+12       4.302059e+13  0.651243  3.057489   8.564321
..            ...                ...       ...       ...        ...
474  1.606747e+12       4.302949e+13  3.256214  8.363202   3.304099
475  1.606747e+12       4.302951e+13  3.802108  8.605023   2.741445
476  1.606747e+12       4.302953e+13  4.556305  8.535589   2.959324
477  1.606747e+12       4.302955e+13  5.140508  8.461368   2.947352
478  1.606747e+12       4.302957e+13  4.503631  8.370385   2.868341
479  1.606747e+12       4.302959e+13  3.591412  8.226728   2.205127
480  1.606747e+12       4.302961e+13  4.400677  8.312922   2.279350
481  1.606747e+12       4.302963e+13  4.776578  8.377567   2.118933
482  1.606747e+12       4.302965e+13  4.400677  8.463761   1.848380
483  1.606747e+12       4.302967e+13  4.661653  8.202785   2.231464
484  1.606747e+12       4.302969e+13  4.743058  8.312922   2.260195
485  1.606747e+12       4.302971e+13  4.771790  8.480521   1.752609
486  1.606747e+12       4.302973e+13  4.264204  8.454185   1.692752
487  1.606747e+12       4.302975e+13  4.589825  8.406299   2.437372
488  1.606747e+12       4.302977e+13  4.601796  8.288980   2.341601
489  1.606747e+12       4.302979e+13  4.527574  8.597841   1.077424
490  1.606747e+12       4.302981e+13  4.721510  8.585870   0.833208
491  1.606747e+12       4.302983e+13  4.709538  8.602630   0.976864
492  1.606747e+12       4.302985e+13  4.398283  8.681641   1.173195
493  1.606747e+12       4.302987e+13  4.316877  8.540379   1.582616
494  1.606747e+12       4.302989e+13  4.271386  8.549955   1.201926
495  1.606747e+12       4.302991e+13  4.319272  8.549955   1.312063
496  1.606747e+12       4.302993e+13  4.620950  8.482916   1.913026
497  1.606747e+12       4.302995e+13  4.829252  8.686429   2.138088
498  1.606747e+12       4.302997e+13  4.716722  8.784595   1.601770
499  1.606747e+12       4.302999e+13  4.522785  8.782200   0.938556
500  1.606747e+12       4.303001e+13  4.388706  8.842057   0.392661
501  1.606747e+12       4.303003e+13  4.594614  8.751075   0.574626
502  1.606747e+12       4.303005e+13  4.613768  8.528407   1.431776
503  1.606747e+12       4.303007e+13  4.656865  8.533195   1.929785

[504 rows x 5 columns]