In [1]:
import pandas as pd
import numpy as np

Short explanations about the data.
There are 2 types of json files,
* 1 starting with "a_...." which contains the type of activity and it's timestamp (amount of microseconds since 1st January 1970)
* 1 starting with "s_...." which contains the sensors data
I made a diagram. And I also share with you a sample data of a "a_" file and a "s_" one.

In [2]:
sensor_csvpath = "../raw_data/sensors.csv"
anno_csvpath = "../raw_data/annotations.csv"

In [3]:
an_csv = pd.read_csv(anno_csvpath)
an_csv

                  time                                           filename
0  2020-08-05 22:21:03  data/raw/2020-08-05-asa/a_2020-08-05-W6Ex5DZKn...

In [4]:
def an_filename(name):
    '''Get the real file name not the path from csv file'''
    filename = "a_" + name.split("a_")[1]
    return filename

In [5]:
an_csv["real_filename"] = an_csv["filename"].apply(an_filename)

In [6]:
an_csv

,time,filename,real_filename
0,2020-08-05 22:21:03,data/raw/2020-08-05-asa/a_2020-08-05-W6Ex5DZKn...,a_2020-08-05-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json

In [8]:
def sen_filename(name):
    '''Get the real file name not the path from csv file'''
    filename = "s_" + name.split("s_")[1]
    return filename

In [9]:
sen_csv = pd.read_csv(sensor_csvpath)
sen_csv["real_filename"] = sen_csv["filename"].apply(sen_filename)
sen_csv.head()

,time,filename,real_filename
0,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661889...,s_2020-08-05-1596618899641-ASUS_X013DB-W6Ex5DZ...
1,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661890...,s_2020-08-05-1596618902316-SHV40-W6Ex5DZKnuMe8...
2,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661890...,s_2020-08-05-1596618909689-ASUS_X013DB-W6Ex5DZ...
3,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661891...,s_2020-08-05-1596618912434-SHV40-W6Ex5DZKnuMe8...
4,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661891...,s_2020-08-05-1596618919758-ASUS_X013DB-W6Ex5DZ...

In [18]:
def key(X):
    key, value = list(X.items())[0]
    return key.strip("()")

In [19]:
anno_jsonpath = "../raw_data/annot/a_2020-08-05-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json"
an_json = pd.read_json(anno_jsonpath)
an_json["activities"] = an_json["dt"].apply(key)

In [20]:
an_json.head()

,dt,os,p,pf,uid,v,activities
0,{'down_stairs': [{'Begin': 1596618985598}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs
1,{'down_stairs': [{'End': 1596618989833}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs
2,{'down_stairs': [{'Begin': 1596618995255}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs
3,{'down_stairs': [{'End': 1596618997833}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs
4,{'down_stairs': [{'Begin': 1596619066247}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs

In [21]:
sen_jsonpath = "../raw_data/sens/s_2020-08-05-1596618922655-SHV40-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json"
sen_json = pd.read_json(sen_jsonpath)
sen_json.head()

,dt,os,pm,p,uid,v
a,"[[1596618912439.9998, 864412474877.0, 1.177947...",26,SHV40,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
g,"[[1596618912441.0, 864413379825.0, 0.021991148...",26,SHV40,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
p,[],26,SHV40,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1

In [25]:
sen_acc = np.array(sen_json.dt["a"])
acc_df = pd.DataFrame(sen_acc, columns=["time_stamp", "sensor_time_stamp","X","Y","Z"])
acc_df

       time_stamp  sensor_time_stamp         X         Y         Z
0    1.596619e+12       8.644125e+11  1.177947  2.901772  9.040505
1    1.596619e+12       8.644323e+11  1.359907  2.873042  9.212888
2    1.596619e+12       8.644523e+11  1.359907  2.920926  9.117120
3    1.596619e+12       8.644725e+11  1.455675  2.987964  9.097966
4    1.596619e+12       8.644925e+11  1.446098  3.045424  9.184157
..            ...                ...       ...       ...       ...
506  1.596619e+12       8.745336e+11 -3.409343  6.636727  4.951209
507  1.596619e+12       8.745536e+11 -2.777274  7.546524  5.544971
508  1.596619e+12       8.745725e+11 -3.236961  6.780379  7.220912
509  1.596619e+12       8.745925e+11 -4.070143  6.454768  8.456321
510  1.596619e+12       8.746136e+11 -2.011129  5.468357  8.954314

[511 rows x 5 columns]

In [24]:
sen_gyro = np.array(sen_json.dt["g"])
gyro_df = pd.DataFrame(sen_gyro, columns=["time_stamp", "sensor_time_stamp","X","Y","Z"])
gyro_df

       time_stamp  sensor_time_stamp         X         Y         Z
0    1.596619e+12       8.644134e+11  0.021991 -0.100182  0.162490
1    1.596619e+12       8.644334e+11  0.014661 -0.096517  0.125838
2    1.596619e+12       8.644534e+11  0.056200 -0.053756  0.107512
3    1.596619e+12       8.644734e+11  0.040317 -0.078191  0.073304
4    1.596619e+12       8.644934e+11  0.002443 -0.124617  0.013439
..            ...                ...       ...       ...       ...
506  1.596619e+12       8.745336e+11 -3.265686 -6.438519 -2.492330
507  1.596619e+12       8.745537e+11 -3.183830 -5.924171 -2.419026
508  1.596619e+12       8.745734e+11 -3.106861 -5.485570 -2.034181
509  1.596619e+12       8.745934e+11 -2.713463 -5.021312 -1.521055
510  1.596619e+12       8.746137e+11 -2.208889 -4.302935 -1.106888

[511 rows x 5 columns]

In [30]:
test_timegyro = (gyro_df["time_stamp"][0]/(100000))

In [31]:
def convert(seconds): 
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
      
    return "%d:%02d:%02d" % (hour, minutes, seconds)

In [34]:
convert(test_timegyro)
#a string

'19:03:09'