In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Function

In [2]:
def an_filename(name):
    '''Get the real file name not the path from csv file'''
    filename = "a_" + name.split("a_")[1]
    return filename

def sen_filename(name):
    '''Get the real file name not the path from csv file'''
    filename = "s_" + name.split("s_")[1]
    return filename

In [3]:
def convert(seconds): 
    milli = (seconds % 1) * 100
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
      
    return "%d:%02d:%02d:%02d" % (hour, minutes, seconds, milli)

In [4]:
def key(X):
    key, value = list(X.items())[0]
    return key.strip("()")

def value(X):
    key, value = list(X.items())[0]
    key2, value2 = list(value[0].items())[0]
    return value2

def process(X):
    key, value = list(X.items())[0]
    key2, value2 = list(value[0].items())[0]
    return key2

### Testing around

Short explanations about the data.
There are 2 types of json files,
* 1 starting with "a_...." which contains the type of activity and it's timestamp (amount of microseconds since 1st January 1970)
* 1 starting with "s_...." which contains the sensors data
I made a diagram. And I also share with you a sample data of a "a_" file and a "s_" one.

In [5]:
sensor_csvpath = "../raw_data/sample/sensors.csv"
anno_csvpath = "../raw_data/sample/annotations.csv"
fall_path = "../raw_data/20201130-sg9-y-fall/s_2020-11-30-1606746627268-SMG960F-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json"

In [6]:
an_csv = pd.read_csv(anno_csvpath)
an_csv

                  time                                           filename
0  2020-08-05 22:21:03  data/raw/2020-08-05-asa/a_2020-08-05-W6Ex5DZKn...

In [7]:
an_csv["real_filename"] = an_csv["filename"].apply(an_filename)

In [8]:
an_csv

,time,filename,real_filename
0,2020-08-05 22:21:03,data/raw/2020-08-05-asa/a_2020-08-05-W6Ex5DZKn...,a_2020-08-05-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json

In [9]:
sen_csv = pd.read_csv(sensor_csvpath)
sen_csv["real_filename"] = sen_csv["filename"].apply(sen_filename)
sen_csv.head()

,time,filename,real_filename
0,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661889...,s_2020-08-05-1596618899641-ASUS_X013DB-W6Ex5DZ...
1,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661890...,s_2020-08-05-1596618902316-SHV40-W6Ex5DZKnuMe8...
2,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661890...,s_2020-08-05-1596618909689-ASUS_X013DB-W6Ex5DZ...
3,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661891...,s_2020-08-05-1596618912434-SHV40-W6Ex5DZKnuMe8...
4,2020-08-05 22:21:01,data/raw/2020-08-05-asa/s_2020-08-05-159661891...,s_2020-08-05-1596618919758-ASUS_X013DB-W6Ex5DZ...

In [10]:
anno_jsonpath = "../raw_data/sample/annot/a_2020-08-05-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json"
an_json = pd.read_json(anno_jsonpath)
an_json.head()

,dt,os,p,pf,uid,v
0,{'down_stairs': [{'Begin': 1596618985598}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
1,{'down_stairs': [{'End': 1596618989833}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
2,{'down_stairs': [{'Begin': 1596618995255}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
3,{'down_stairs': [{'End': 1596618997833}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
4,{'down_stairs': [{'Begin': 1596619066247}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1

In [12]:
an_json["activities"] = an_json["dt"].apply(key)
an_json["process"] = an_json["dt"].apply(process)
an_json["time"] = an_json["dt"].apply(value)

In [13]:
an_json.head()

,dt,os,p,pf,uid,v,activities,process,time
0,{'down_stairs': [{'Begin': 1596618985598}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs,Begin,1596618985598
1,{'down_stairs': [{'End': 1596618989833}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs,End,1596618989833
2,{'down_stairs': [{'Begin': 1596618995255}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs,Begin,1596618995255
3,{'down_stairs': [{'End': 1596618997833}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs,End,1596618997833
4,{'down_stairs': [{'Begin': 1596619066247}]},26,SHV40,1,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1,down_stairs,Begin,1596619066247

In [14]:
final_an_csv = an_json[an_json.columns[-4:]]

In [15]:
# final_an_csv.to_csv("clean_an.csv",index=False)

In [16]:
sen_jsonpath = "../raw_data/sample/sens/s_2020-08-05-1596618922655-SHV40-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json"
sen_json = pd.read_json(sen_jsonpath)
sen_json.head()

,dt,os,pm,p,uid,v
a,"[[1596618912439.9998, 864412474877.0, 1.177947...",26,SHV40,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
g,"[[1596618912441.0, 864413379825.0, 0.021991148...",26,SHV40,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1
p,[],26,SHV40,0,W6Ex5DZKnuMe8eiFIsbSutgVLV72,1

In [17]:
sen_acc = np.array(sen_json.dt["a"])
acc_df = pd.DataFrame(sen_acc, columns=["time_stamp", "sensor_time_stamp","X","Y","Z"])
acc_df.head()

     time_stamp  sensor_time_stamp         X         Y         Z
0  1.596619e+12       8.644125e+11  1.177947  2.901772  9.040505
1  1.596619e+12       8.644323e+11  1.359907  2.873042  9.212888
2  1.596619e+12       8.644523e+11  1.359907  2.920926  9.117120
3  1.596619e+12       8.644725e+11  1.455675  2.987964  9.097966
4  1.596619e+12       8.644925e+11  1.446098  3.045424  9.184157

In [ ]:
acc_df.time_stamp[0]

In [ ]:
sen_gyro = np.array(sen_json.dt["g"])
gyro_df = pd.DataFrame(sen_gyro, columns=["time_stamp", "sensor_time_stamp","X","Y","Z"])
gyro_df.head()

In [ ]:
gyro_df.time_stamp[0]

In [ ]:
def convert(seconds): 
    milli = (seconds % 1) * 100
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
      
    return "%d:%02d:%02d:%02d" % (hour, minutes, seconds, milli)

In [ ]:
def convert_to_realtime(timestamp): 
    seconds = timestamp/100000
    milli = (seconds % 1) * 100
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60 
    seconds %= 60 
    return "%d:%02d:%02d:%02d" % (hour, minutes, seconds, milli) 
    #return "%d:%02d:%02d" % (hour, minutes, seconds)

In [ ]:
gyro_df["real_time_stamp"] = gyro_df["time_stamp"].apply(convert_to_realtime)
gyro_df["start_2s"] = gyro_df["time_stamp"]//200000

In [ ]:
gyro_df.head()

In [ ]:
final_an_csv.tail(20)
# go for the most frequence ? one if overlap

In [ ]:
final_an_csv.head()

In [ ]:
row

In [ ]:
row = final_an_csv.shape[0]
n = 0
list_begin = []
list_end = []
list_act = []
for row in range(int(row/2)):
    list_begin.append(final_an_csv["time"][n])
    list_act.append(final_an_csv["activities"][n])
    list_end.append(final_an_csv["time"][n+1])
    n +=2

In [ ]:
new_df = {"activitiy" : list_act, "start" : list_begin, "end" : list_end}
test_final_an = pd.DataFrame(new_df)

In [ ]:
test_final_an["start_real"] = test_final_an["start"].apply(convert_to_realtime)
test_final_an["end_real"] = test_final_an["end"].apply(convert_to_realtime)

Create bin for each 2seconds

In [ ]:

test_final_an["start_2s"] = test_final_an["start"]//200000

Bin them separately them merge sensor to an (using interval 2s as index)

In [ ]:
test_final_an.head(50)

In [ ]:
lower = test_final_an["start"][0]
upper = lower + 200000
temp_df = test_final_an[test_final_an["start"] > lower]

In [ ]:
convert_to_realtime(200000)

Take

In [ ]:
final_df = pd.DataFrame([], columns=["Activity","Start","End","Acc_Time_stamp","Acc_X","Acc_Y","Acc_Z"])
final_df

In [ ]:
fall_json = pd.read_json(fall_path)
fall_json.head()

In [ ]:
fall_acc = np.array(fall_json.dt["a"])
fall_df = pd.DataFrame(fall_acc, columns=["time_stamp", "sensor_time_stamp","X","Y","Z"])
fall_df

### Prepare Annotation dataframe

In [18]:
anno_basepath = "../raw_data/full_data/" # using for iterate path
anno_csvpath = "../raw_data/sample/annotations.csv"
an_csv = pd.read_csv(anno_csvpath)
an_csv["real_filename"] = an_csv["filename"].apply(an_filename)
an_csv # make real file name for iterate path

,time,filename,real_filename
0,2020-08-05 22:21:03,data/raw/2020-08-05-asa/a_2020-08-05-W6Ex5DZKn...,a_2020-08-05-W6Ex5DZKnuMe8eiFIsbSutgVLV72.json

In [19]:
an_df = pd.read_json("../raw_data/sample/annot/" + an_csv["real_filename"][0])

In [20]:
an_df["activities"] = an_df["dt"].apply(key)
an_df["process"] = an_df["dt"].apply(process)
an_df["time"] = an_df["dt"].apply(value)
an_df = an_df[an_df.columns[-3:]]

In [21]:
row = an_df.shape[0]
n = 0
list_begin = []
list_end = []
list_act = []
for row in range(int(row/2)):
    list_begin.append(an_df["time"][n])
    list_act.append(an_df["activities"][n])
    list_end.append(an_df["time"][n+1])
    n +=2

In [27]:
an_dict_clean = {"activitiy" : list_act, "start" : list_begin, "end" : list_end}
an_df_clean = pd.DataFrame(an_dict_clean)

In [29]:
an_df_clean

        activitiy          start            end
0     down_stairs  1596618985598  1596618989833
1     down_stairs  1596618995255  1596618997833
2     down_stairs  1596619066247  1596619069306
3     down_stairs  1596619073407  1596619075856
4     down_stairs  1596619079973  1596619082796
5     down_stairs  1596619087171  1596619089546
6     down_stairs  1596619093869  1596619096286
7     down_stairs  1596619100704  1596619103493
8     down_stairs  1596619108255  1596619110616
9     down_stairs  1596619115194  1596619117830
10    down_stairs  1596619121755  1596619125109
11    down_stairs  1596619129955  1596619132675
12    down_stairs  1596619136640  1596619139462
13    down_stairs  1596619145136  1596619148111
14    down_stairs  1596619153335  1596619155575
15    down_stairs  1596619159764  1596619162551
16    down_stairs  1596619167346  1596619170703
17    down_stairs  1596619175487  1596619178353
18   climb_stairs  1596620308708  1596620311059
19   climb_stairs  1596620362117  1596620365730
20   climb_stairs  1596620369895  1596620372621
21   climb_stairs  1596620376593  1596620379950
22   climb_stairs  1596620383917  1596620387438
23   climb_stairs  1596620391201  1596620394550
24   climb_stairs  1596620398515  1596620401908
25   climb_stairs  1596620405829  1596620408895
26   climb_stairs  1596620413359  1596620416171
27   climb_stairs  1596620416568  1596620417338
28   climb_stairs  1596620420535  1596620423718
29   climb_stairs  1596620427704  1596620430838
..            ...            ...            ...
127  climb_stairs  1596632496559  1596632499868
128  climb_stairs  1596632504654  1596632507851
129  climb_stairs  1596632512630  1596632515663
130  climb_stairs  1596632520303  1596632523722
131  climb_stairs  1596632528345  1596632531624
132  climb_stairs  1596632536348  1596632539583
133  climb_stairs  1596632544075  1596632547338
134  climb_stairs  1596632552110  1596632554813
135  climb_stairs  1596632559407  1596632562448
136  climb_stairs  1596632567054  1596632569999
137  climb_stairs  1596632574450  1596632577717
138  climb_stairs  1596632582391  1596632586079
139  climb_stairs  1596632590754  1596632593641
140  climb_stairs  1596632597984  1596632601185
141  climb_stairs  1596632605627  1596632608662
142  climb_stairs  1596632613092  1596632616235
143  climb_stairs  1596632620898  1596632623847
144  climb_stairs  1596632628552  1596632631498
145  climb_stairs  1596632636503  1596632639385
146  climb_stairs  1596632644093  1596632647350
147  climb_stairs  1596632651833  1596632654922
148  climb_stairs  1596632660050  1596632663131
149   down_stairs  1596632670653  1596632674407
150   down_stairs  1596632679891  1596632682812
151   down_stairs  1596632687620  1596632690787
152   down_stairs  1596632695554  1596632698177
153   down_stairs  1596632703511  1596632706062
154   down_stairs  1596632710643  1596632713264
155   down_stairs  1596632718206  1596632721354
156   down_stairs  1596632725640  1596632728797

[157 rows x 3 columns]

In [23]:
an_df_clean["interval_2s_bin"] = an_df_clean["end"]//200000

In [24]:
an_df_clean = an_df_clean.drop(["start","end"],axis = 1)

In [25]:
an_df_clean = an_df_clean.groupby(['interval_2s_bin']).agg(lambda x:x.value_counts().index[0])

In [26]:
an_df_clean.head()

                    activitiy
interval_2s_bin
7983094           down_stairs
7983095           down_stairs
7983101          climb_stairs
7983102          climb_stairs
7983158           down_stairs

### Prepare Sensor dataframe

In [ ]:
sensor_csvpath = "../raw_data/sample/sensors.csv"
sen_csv = pd.read_csv(sensor_csvpath)
sen_csv["real_filename"] = sen_csv["filename"].apply(sen_filename)
sen_csv.head()

In [ ]:
sen_path_base = "../raw_data/sample/sens/"

In [ ]:
sample_path = sen_path_base + sen_csv["real_filename"][4];sample_path

In [ ]:
sen_json = pd.read_json(sample_path)
sen_json.head()

In [ ]:
sen_acc = np.array(sen_json.dt["a"])
acc_df = pd.DataFrame(sen_acc, columns=["time_stamp", "sensor_time_stamp","X","Y","Z"])

In [ ]:
acc_df["interval_2s_bin"] = acc_df["time_stamp"].astype(int)//200000

In [ ]:
acc_df.set_index("interval_2s_bin", inplace=True)

In [ ]:
acc_df.drop(["time_stamp","sensor_time_stamp"],axis = 1, inplace=True)

In [ ]:
acc_df.head()

In [ ]:
all_jason_df = pd.DataFrame(columns=["time_stamp","sensor_time_stamp","X","Y","Z"])

In [ ]:
all_jason_df

In [ ]:
# 0 has 0 values
for sen_jsonpath in sen_csv["real_filename"][1:]:
    sensor_path = sen_path_base + sen_jsonpath
    sen_json = pd.read_json(sensor_path)
    if sen_json.dt["a"] == []:
        continue
    sen_acc = np.array(sen_json.dt["a"])
    acc_df = pd.DataFrame(sen_acc, columns=["time_stamp", "sensor_time_stamp","X","Y","Z"])
    all_jason_df = pd.concat([all_jason_df,acc_df])

In [ ]:
all_jason_df["interval_2s_bin"] = all_jason_df["time_stamp"].astype(int)//200000

In [ ]:
all_jason_df.shape

In [ ]:
all_jason_df.head(10)

In [ ]:
all_jason_df.tail(10)

In [ ]:
all_jason_df["interval_2s_bin"].unique() # Sensor

In [ ]:
an_df_clean.index #annotation

In [ ]:
7983094 in an_df_clean.index

In [ ]:
final_df = all_jason_df.copy()

In [ ]:
final_df["in_bin"] = final_df["interval_2s_bin"].apply(lambda x : x in an_df_clean.index)

In [ ]:
final_df["interval_2s_bin"].unique()

### Q and A


- The special requirement : Wed 12/2
- How to upload model OwO : Wed 12/2

- Function for clean the data (sensor) / check if the Null / focus on ACC for now >> Ready to merge

- Function to Create a Activity , Start , End (2s) >> Ready to merge

- Function for merging dataframe (an and sen)

- Function for reading all the data and apply the above function

- Supervise learning >>> label has to be accurate
- Sensor assign to one label

-